.container {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

.header {
  color: #007bff;
  margin-top: 4rem;
}

.title {
  margin: 3rem 0;
  letter-spacing: 1.3px;
  text-transform: capitalize;
  text-align: center;
  -webkit-animation: up 1.5s 1 backwards ease-in-out;
  animation: up 1.5s 1 backwards ease-in-out;
}

.firstSpan {
  color: #9acd32;
}

.lastSpan {
  color: #9acd32;
}

.footer {
  background-color: #888;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

@-webkit-keyframes up {
  0% {
    transform: translateY(-150px);
    opacity: 0.3;
  }

  50% {
    transform: translateY(-100px);
    opacity: 0.7;
  }

  75% {
    transform: translateY(75px);
    opacity: 0.7;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes up {
  0% {
    transform: translateY(-150px);
    opacity: 0.3;
  }

  50% {
    transform: translateY(-100px);
    opacity: 0.7;
  }

  75% {
    transform: translateY(75px);
    opacity: 0.7;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
